<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Hello World</h1>
    <%for(let i = 0; i < items.length; i++){ %>
        <a href="/<%=items[i]._id%>"> 
        <h1><%=items[i].title%></h1>
        <img src= <%=items[i].img%> width=500px height=500px alt="img"/> </a>
        <h1><%=items[i].about%>
        <%=items[i].price%> </h1>
        <a href="/<%=items[i].id; %>/edit">Edit</a>
        <form action="/<%=items[i].id; %>?_method=DELETE" method="POST">
        <input type="submit" value="remove"/>
        </form>
   <% } %>
</body>
</html>